numpy
cython
scipy
torch
torchaudio
soundfile
librosa
scikit-learn
inflect
tqdm
pypinyin
hangul_romanize
pyyaml
peft
fsspec
mutagen
pandas
matplotlib
coqpit
transformers==4.47.1
encodec
unidecode
num2words
psutil
fsspec
tensorboard